/*===================================== SETTING ================================*/

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-SemiBold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-ExtraBold.woff2);
    font-weight: 800;
}

/*===== Variables =====*/
:root {
    --white-color: #d9d9d9;
    --black-color: #121517;
    --accent-color: linear-gradient(210deg, #237249 0%, #35c66b 100%);
}

.page__body {
    background-color:  #121517;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1243px;
}